body, html
{
  background-color:black;
  color:white;
}

.verticalGap
{
  padding-bottom :25px;
}

#navbarCollapse
{
  background-color: black;
}

.navbar-default
{
  border-color: #3E3D3D !important;
}

.pagination > li > a, .pagination > li > span
{
  background-color:black !important;
}

#navbarCollapse a
{
  color:white !important;
}

a
{
  color:grey !important;
}

#navbarHeading
{
  color:white;
}

#logo a
{
  color: yellow !important;
  text-decoration:underline;
}
