#adminSidebarBody li{
  display:block;
  float:none;
}

#adminSidebarContainer
{
  background-color:black !important;
  text-decoration:none;
  border:none;
  border-right:1px dashed grey;
  color:white;
}

#adminSidebarHeading
{
  font-size: 20px;
  line-height: 50px;
  font-family: 'Montserrat', sans-serif;
  font-size:22px;
}
