#adminSidebarBody li{
  display:block;
  float:none;
}

#adminSidebarContainer
{
  background-color:black !important;
  text-decoration:none;
  border:none;
  border-right:1px dashed grey;
  color:white;
}

#adminSidebarHeading
{
  color:red;
}
